@inherits MvcLib.Common.Mvc.CustomWebViewPage
@model MvcLib.HttpModules.CustomErrorHttpModule.ErrorModel

<h1>@Model.StatusCode</h1>
<h3>@Model.Message</h3>
<h4>@Model.Url</h4>
<p>@Model.FullMessage</p>
<p>@Model.StackTrace</p>